@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  color: white;
  background: #0f172a;
  display: grid;
  font-family: "Barlow Semi Condensed", sans-serif; /* Use Barlow Semi Condensed as primary font */
  font-weight: 400; /* Set default font weight (optional) */
  display: flex;
  align-items: center;
  justify-content: center;
}
